alabaster==0.7.12
appnope==0.1.0
atomicwrites==1.2.1
attrs==18.2.0
Babel==2.6.0
backcall==0.1.0
certifi==2018.11.29
chardet==3.0.4
Click==7.0
CommonMark==0.5.4
coverage==4.5.2
coveralls==1.5.1
decorator==4.3.2
docopt==0.6.2
docutils==0.14
flake8==3.6.0
Flask==1.0.2
Flask-Babel==0.12.2
Flask-Env==2.0.0
Frozen-Flask==0.15
future==0.17.1
gunicorn==19.9.0
idna==2.8
imagesize==1.1.0
ipython==7.2.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.13.2
Jinja2==2.10.1
json-merge-patch==0.2
jsonpointer==2.0
jsonref==0.2
jsonschema==3.0.2
libsass==0.17.0
lxml==4.3.0
MarkupSafe==1.1.0
mccabe==0.6.1
more-itertools==5.0.0
ocds-babel==0.0.8
ocdsextensionregistry==0.0.10
ocdsmerge==0.5.7
parso==0.3.2
pexpect==4.6.0
pickleshare==0.7.5
pluggy==0.8.1
prompt-toolkit==2.0.7
ptyprocess==0.6.0
py==1.7.0
pycodestyle==2.4.0
pyflakes==2.0.0
Pygments==2.3.1
pyrsistent==0.15.4
pytest==4.1.0
pytest-cov==2.6.1
pytest-flask==0.14.0
python-dateutil==2.8.0
python-slugify==1.2.6
pytz==2018.9
PyYAML==4.2b4
-e git+https://github.com/rtfd/recommonmark.git@81d7c6f7b37981ac22571dd91a7cc9d24c3e66a1#egg=recommonmark
-e git+https://github.com/open-contracting/ocdskit.git@6acd39e7d0acb518bf60233d7a1a66b7354daf88#egg=ocdskit
requests==2.21.0
rfc3987==1.3.8
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.5.1
SQLAlchemy==1.3.7
strict-rfc3339==0.7
traitlets==4.3.2
transifex-client==0.13.5
Unidecode==1.0.23
urllib3==1.24.2
wcwidth==0.1.7
Werkzeug==0.14.1
-e .
