Babel
Flask
Flask-Babel
Flask-Env
Frozen-Flask
json_merge_patch
jsonpointer
lxml
markdown-it-py
ocdskit
Pygments
python-slugify
PyYAML
requests
werkzeug
# See https://github.com/jazzband/pip-tools/issues/204#issuecomment-550051424
-e file:.#egg=ocdsextensionexplorer # babel.extractors

# Deployment
ocdsextensionregistry[cli]
