babel
flask
flask-babel
flask-env
frozen-flask
json_merge_patch
jsonpointer
lxml
markdown-it-py
ocdskit[perf]
pygments
python-slugify
pyyaml
requests
werkzeug
-e file:.#egg=ocdsextensionexplorer # babel.extractors

# Deployment
ocdsextensionregistry[cli]
