alabaster==0.7.12
atomicwrites==1.2.1
attrs==18.2.0
Babel==2.6.0
certifi==2018.11.29
chardet==3.0.4
Click==7.0
CommonMark==0.5.4
coverage==4.5.2
coveralls==1.5.1
docopt==0.6.2
docutils==0.14
flake8==3.6.0
Flask==1.0.2
Flask-Babel==0.12.2
Flask-Env==2.0.0
Frozen-Flask==0.15
future==0.17.1
gunicorn==19.9.0
idna==2.8
imagesize==1.1.0
itsdangerous==1.1.0
Jinja2==2.10
json-merge-patch==0.2
jsonpointer==2.0
libsass==0.17.0
lxml==4.3.0
MarkupSafe==1.1.0
mccabe==0.6.1
more-itertools==5.0.0
ocds-babel==0.0.6
ocdsextensionregistry==0.0.8
pluggy==0.8.1
py==1.7.0
pycodestyle==2.4.0
pyflakes==2.0.0
Pygments==2.3.1
pytest==4.1.0
pytest-cov==2.6.1
pytest-flask==0.14.0
python-slugify==1.2.6
pytz==2018.9
PyYAML==4.2b4
-e git+https://github.com/rtfd/recommonmark.git@81d7c6f7b37981ac22571dd91a7cc9d24c3e66a1#egg=recommonmark
requests==2.21.0
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.5.1
transifex-client==0.13.5
Unidecode==1.0.23
urllib3==1.23
Werkzeug==0.14.1
-e .
