atomicwrites==1.2.1
attrs==18.2.0
Babel==2.6.0
certifi==2018.11.29
chardet==3.0.4
Click==7.0
commonmark==0.8.1
flake8==3.6.0
Flask==1.0.2
Flask-Babel==0.12.2
Flask-Env==2.0.0
Frozen-Flask==0.15
future==0.17.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
libsass==0.17.0
lxml==4.3.0
MarkupSafe==1.1.0
mccabe==0.6.1
more-itertools==5.0.0
pluggy==0.8.0
py==1.7.0
pycodestyle==2.4.0
pyflakes==2.0.0
Pygments==2.3.1
pytest==4.1.0
pytest-cov==2.6.1
pytest-flask==0.14.0
python-slugify==1.2.6
pytz==2018.9
requests==2.21.0
selenium==3.8.0
six==1.12.0
transifex-client==0.13.5
Unidecode==1.0.23
urllib3==1.23
Werkzeug==0.14.1
