{% extends 'layout.html' %}

{% block collections_nav_link %}active{% endblock %}

{% block main %}
  <div class="row mt-2 mb-4">
    <div class="col">
      <h1 class="display-4 text-center">
        {{ _("Extension collections") }}
      </h1>
      <p class="lead text-center">
        
      </p>
    </div>
  </div>

  {% for collection in collections %}
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-xl-6 mb-2">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title h5">
              <a href="{{ url_for('collection', lang=lang, slug=collection.slug) }}">
                {{ collection.slug }}
              </a>
            </h2>
            <p class="card-text mb-4">
              {{ collection.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
