{% extends 'base.html' %}

{% block community_nav_link %}active{% endblock %}

{% block main %}
  <div class="row mt-2">
    <div class="col">
      <h1 class="display-5">Community extensions</h1>
        <p class="lead">
          Extensions made by the community vetted by the Core OCDS contributers.
        </p>
    </div>
  </div>

  <div class="row">
    {% for extension in data %}
      <div class="col-12 col-md-6 col-xl-4 mb-2">
        <div class="card card-full-height">
          <div class="card-body">
            <h5 class="card-title"> <a href="{{url_for('extension', slug=extension.slug, version=extension.first_version, lang=lang)}}"> {{ extension.name[lang] }} </a>  {# <span class="float-right"> <small>compatability: 1.1 / 1.0</small> </span> #}</h5>
            <p class="card-text mb-4">{{ extension["description"][lang] }}</p>
            <p class="card-text card-bottom-text">Versions: {% for version in extension["versions"] %} 
              <a href="{{url_for('extension', slug=extension.slug, version=version, lang=lang)}}"> {{version}} </a> {% if not loop.last %}/{% endif %}{%endfor%} 
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock main %}
