{% extends 'layout_extension.html' %}

{% block title %}{{ _("%(name)s — Schema — OCDS Extension Explorer", name=extension.name[lang]) }}{% endblock %}

{% block nav_schema %}
        <div class="ee-toc-item active">
          <a class="ee-toc-link" href="{{ url_for('extension_schema', identifier=identifier, version=version, lang=lang) }}">
            {{ _("Schema") }}
          </a>

          <ul class="nav ee-sidenav">
  {% for definition in tables %}
            <li>
              <a href="#{{ definition|lower }}">
                {{ definition }}
              </a>
            </li>
  {% endfor %}
  {% if removed_fields %}
            <li>
              <a href="#removed-fields">
                {{ _("Removed fields") }}
              </a>
            </li>
  {% endif %}
          </ul>
        </div>
{% endblock %}

{% block extension_body %}
      <h2 class="ee-title">
        {{ _("Schema") }}
      </h2>
  {% for definition, rows in tables.items() %}

      <h3 id="{{ definition|lower }}">
        {{ definition }}
      </h3>

      {{ schema_table(rows) }}
  {% endfor %}

  {% if removed_fields %}
      <h3 id="removed-fields">
        {{ _("Removed fields") }}
      </h3>

    {% if 'active' in removed_fields %}
      <p>
        {{ _("The extension removes the following fields from the release schema:") }}
      </p>

      {{ schema_table(removed_fields.active, removed=true) }}
    {% endif %}

    {% if 'deprecated' in removed_fields %}
      <p>
        {{ _("The extension removes the following <em>deprecated</em> fields from the release schema:") }}
      </p>

      {{ schema_table(removed_fields.deprecated, removed=true) }}
    {% endif %}
  {% endif %}
{% endblock %}

{% macro schema_table(rows, removed=false) -%}
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col">
              {{ _("Field") }}
            </th>
            <th scope="col">
              {{ _("Title") }}
            </th>
            <th scope="col">
              {{ _("Description") }}
            </th>
            <th scope="col">
              {{ _("Type(s)") }}
            </th>
          </tr>
        </thead>
        <tbody>
    {% for row in rows %}
          <tr>
            <td{% if not removed %} id="{{ row.definition }}{{ row.path }}"{% endif %}>
      {% if row.url %}
              <a href="{{ row.url }}">
              {{ path(row) }}
              </a>
      {% else %}
              {{ path(row) }}
      {% endif %}
            </td>
            <td>
              {{ row.title }}
            </td>
            <td>
              {{ row.description|safe }}
            </td>
            <td>
              {{ row.types|safe }}
            </td>
          </tr>
    {% endfor %}
        </tbody>
      </table>
{%- endmacro %}

{% macro path(row) -%}
              <code>
                {{ row.path[1:]|replace('.', '.<wbr>'|safe) }}
              </code>
{%- endmacro %}