{% extends 'layout.html' %}

{% block extensions_nav_link %}active{% endblock %}

{% block main %}
  <div class="row mt-2 mb-4">
    <div class="col">
      <h1 class="display-5 text-center">
        {{ _("Registered extensions") }}
      </h1>
      <p class="lead text-center">
        
      </p>
    </div>
  </div>

  {% for extension in extensions %}
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-xl-6 mb-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <a href="{{ url_for('extension', lang=lang, slug=extension.id, version=extension.latest_version) }}">
                {{ extension.name[lang] }}
              </a>
              {#
              <span class="float-right">
                <small>
                  {{ _("compatible with %(versions)s", versions=extension.versions[extension.latest_version].metadata.compatibility|join(' / ')) }}
                </small>
              </span>
              #}
            </h5>
            <p class="card-text">
              {{ extension.description[lang] }}
            </p>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
