{% extends 'layout_extension.html' %}

{% block title %}{{ _("%(name)s — Codelists — OCDS Extension Explorer", name=extension.name[lang]) }}{% endblock %}

{% block nav_codelists %}
        <div class="ee-toc-item active">
          <a class="ee-toc-link" href="{{ url_for('extension_codelists', lang=lang, identifier=identifier, version=version) }}">
            {{ _("Codelists") }}
          </a>

          <ul class="nav ee-sidenav">
  {% for codelist in extension_version.codelists %}
            <li>
              <a href="#{{ codelist }}">
                {{ codelist }}
              </a>
            </li>
  {% endfor %}
          </ul>
        </div>
{% endblock %}

{% block extension_body %}
      <h2 class="ee-title">
        {{ _("Codelists") }}
      </h2>
  {% for codelist, basename, url, fieldnames, rows in tables %}

      <h3 id="{{ codelist }}">
        {{ codelist }}
      </h3>

      <p>
        {{ _('You can <a href="%(url)s">download the translated <code>%(codelist)s</code> file</a>.', url=url_for('extension_codelist_file', lang=lang, identifier=identifier, version=version, filename=codelist), codelist=codelist) }}
      </p>

    {% if url and 'standard.open-contracting.org' in url %}
      <p>
      {% if codelist.startswith('+') %}
        {{ _('The extension adds these codes to the <a href="%(url)s"><code>%(codelist)s</code> codelist</a>.', url=url, codelist=basename) }}
      {% elif codelist.startswith('-') %}
        {{ _('The extension removes these codes from the <a href="%(url)s"><code>%(codelist)s</code> codelist</a>.', url=url, codelist=basename) }}
      {% else %}
        {{ _('The extension replaces the <a href="%(url)s"><code>%(codelist)s</code> codelist</a> with these codes.', url=url, codelist=basename) }}
      {% endif %}
      </p>
    {% endif %}

      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
    {% for fieldname in fieldnames %}
            <th scope="col">
              {{ fieldname }}
            </th>
    {% endfor %}
          </tr>
        </thead>
        <tbody>
    {% for row in rows %}
          <tr>
            <td id="{{ codelist }}/{{ row.code }}">
              <code>
                {{ row.code }}
              </code>
            </td>
      {% if 'title' in row %}
            <td>
              {{ row.title }}
            </td>
      {% endif %}
      {% if row.content %}
            <td>
              {{ row.content.description|safe }}
        {% if row.content.attributes %}
              <dl>
          {% for key, value in row.content.attributes.items() %}
                <dt>
                  {{ key }}
                </dt>
                <dd>
                  {{ value|urlize }}
                </dd>
          {% endfor %}
              </dl>
        {% endif %}
            </td>
      {% endif %}
          </tr>
    {% endfor %}
        </tbody>
      </table>
  {% endfor %}
{% endblock %}
