{% extends 'layout.html' %}

{% block title %}{{ _("Extensions — OCDS Extension Explorer") }}{% endblock %}
{% block extensions_nav_link %}active{% endblock %}

{% block main %}
<div class="container-fluid">
  <div class="row mt-4">
    <div class="col">
      <h1 class="text-center display-4">
        {{ _("Extensions") }}
      </h1>

      <form class="form-inline d-flex justify-content-center align-items-center g-2 mt-4">
        {{ _("Show") }}

        <select class="form-select filter-select mx-1" id="filter-core" aria-label="{{ _('Extension') }}">
          <option value="">
            {{ _("any") }}
          </option>
          <option value=".recommended">
            {{ _("recommended") }}
          </option>
        </select>

        {{ _("extensions") }}

  {% if publishers|length > 1 %}
        {{ _("by") }}
        <select class="form-select filter-select mx-1" id="filter-publisher" aria-label="{{ _('Maintainer') }}">
          <option value="">
            {{ _("any maintainer") }}
          </option>
    {% for slug, title in publishers|dictsort(false, 'value') %}
          <option value=".publisher-{{ slug }}">
            {{ title }}
          </option>
    {% endfor %}
        </select>
  {% endif %}

  {% if profiles %}
        {{ _("in") }}
        <select class="form-select filter-select mx-1" id="filter-profile" aria-label="{{ _('Profile') }}">
          <option value="">
            {{ _("any profile") }}
          </option>
    {% for slug, title in profiles|dictsort(false, 'value') %}
          <option value=".profile-{{ slug }}">
            {{ title }}
          </option>
    {% endfor %}
        </select>
  {% endif %}

  {% if topics %}
        {{ _("about") }}
        <select class="form-select filter-select mx-1" id="filter-topic" aria-label="{{ _('Topic') }}">
          <option value="">
            {{ _("any topic") }}
          </option>
    {% for slug, title in topics|dictsort(false, 'value') %}
          <option value=".topic-{{ slug }}">
            {{ title }}
          </option>
    {% endfor %}
        </select>
  {% endif %}
      </form>

      <p class="text-center text-muted mt-4">
        {{ _('Showing <span id="filter-count">%(num)d</span> extensions from the <a href="https://github.com/open-contracting/extension_registry">extension registry</a>', num=extensions|count) }}
      </p>
    </div>
  </div>

  {% for extension in extensions %}
  <div class="row justify-content-center extension {{ extension.tags|join(' ') }}">
    <div class="col-12 col-md-8 col-xl-6 mb-2">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title h5">
            <a href="{{ url_for('extension_documentation', lang=lang, identifier=extension.id, version=extension.latest_version) }}">{{ extension.name[lang] }}</a>
    {% if 'recommended' in extension.tags %}
            <span class="badge rounded-pill text-bg-light">{{ _("Recommended") }}</span>
    {% endif %}
          </h2>
          <p class="card-text">
            {{ extension.description[lang] }}
          </p>
          <p class="card-text">
            <small class="text-muted">
              {{ _('Maintained by <a href="%(url)s">%(name)s</a>', name=extension.publisher.name, url=extension.publisher.url) }}
            </small>
          </p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
