{% extends 'layout_extension.html' %}

{% block title %}{{ _("%(name)s — Schema — OCDS Extension Explorer", name=extension.name[lang]) }}{% endblock %}

{% block nav_schema %}
        <div class="ee-toc-item active">
          <a class="ee-toc-link" href="{{ url_for('extension_schema', identifier=identifier, version=version, lang=lang) }}">
            {{ _("Schema") }}
          </a>

          <ul class="nav ee-sidenav">
  {% for definition in tables %}
            <li>
              <a href="#{{ definition|lower }}">
                {{ definition }}
              </a>
            </li>
  {% endfor %}
  {% if removed_fields %}
            <li>
              <a href="#removed-fields">
                {{ _("Removed fields") }}
              </a>
            </li>
  {% endif %}
          </ul>
        </div>
{% endblock %}

{% block extension_body %}
      <h2 class="ee-title">
        {{ _("Schema") }}
      </h2>
  {% for definition, properties in tables.items() %}

      <h3 id="{{ definition|lower }}">
        {{ definition }}
      </h3>

      <p>
    {% if definition == 'Release' %}
        {{ _("The extension defines these fields in the release schema:") }}
    {% elif properties.source %}
      {% if properties.source.type == 'core' %}
        {{ _('The extension defines these fields in the <a href="%(url)s"><code>%(name)s</code></a> object from OCDS:', url=properties.source.url, name=definition) }}
      {% elif properties.source.type == 'extension' %}
        {{ _('The extension defines these fields in the <a href="%(url)s"><code>%(name)s</code></a> object from the <a href="%(extension_url)s">%(extension_name)s</a> extension:', url=properties.source.url, name=definition, extension_url=properties.source.extension_url, extension_name=properties.source.extension_name) }}
      {% endif %}
    {% else %}
        {{ _('The extension defines a new <code>%(name)s</code> object with these fields:', name=definition) }}
    {% endif %}
      </p>

      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col">
              {{ _("Field") }}
            </th>
            <th scope="col">
              {{ _("Title") }}
            </th>
            <th scope="col">
              {{ _("Description") }}
            </th>
            <th scope="col">
              {{ _("Type(s)") }}
            </th>
          </tr>
        </thead>
        <tbody>
    {% for field in properties.fields %}
          <tr>
            <td id="{{ field.definition_path }}{{ field.path }}">
              <code>
                {{ field.path[1:]|replace('.', '.<wbr>'|safe) }}
              </code>
            </td>
            <td>
              {{ field.title }}
            </td>
            <td>
      {% if field.url %}
              <p class="font-italic">
                {{ _('This field is modified from its <a href="%(url)s">original version</a>.', url=field.url) }}
              </p>
      {% endif %}
              {{ field.description|safe }}
      {% if 'deprecated' in field.schema %}
        {% if field.schema.deprecated %}
              <p>
                <strong>
                  {{ _('Deprecated in OCDS %(deprecatedVersion)s:', deprecatedVersion=field.schema.deprecated.deprecatedVersion) }}
                </strong>
                {{ field.schema.deprecated.description }}
              </p>
        {% else %}
              <p class="font-italic">
                {{ _('The extension undoes the deprecation of this field.') }}
              </p>
        {% endif %}
      {% endif %}
      {% if field.multilingual %}
              <p class="font-italic">
                {{ _('This field has <a href="%(url)s#multilingual-support">multilingual support</a>.', url=url_for('documentation', lang=lang)) }}
              </p>
      {% endif %}
            </td>
            <td>
              {{ field.types|safe }}
            </td>
          </tr>
    {% endfor %}
        </tbody>
      </table>
  {% endfor %}

  {% if removed_fields %}
      <h3 id="removed-fields">
        {{ _("Removed fields") }}
      </h3>

    {% if 'active' in removed_fields %}
      <p>
        {{ _("The extension removes these fields from the release schema:") }}
      </p>

      {{ field_list(removed_fields.active) }}
    {% endif %}

    {% if 'deprecated' in removed_fields %}
      <p>
        {{ _("The extension removes these <em>deprecated</em> fields from the release schema:") }}
      </p>

      {{ field_list(removed_fields.deprecated) }}
    {% endif %}
  {% endif %}
{% endblock %}

{% macro field_list(fields) -%}
      <ul>
  {% for field in fields %}
        <li>
    {% if field.url %}
          <a href="{{ field.url }}">
    {% endif %}
            <code>
              {{ field.definition_path }}{% if field.definition_path %}.<wbr>{% endif %}{{ field.path[1:]|replace('.', '.<wbr>'|safe) }}
            </code>
    {% if field.url %}
          </a>
    {% endif %}
        </li>
  {% endfor %}
      </ul>
{%- endmacro %}
