{% extends 'layout.html' %}

{% block extensions_nav_link %}active{% endblock %}

{% block main %}
  <div class="row mt-2 mb-4">
    <div class="col">
      <h1 class="display-4 text-center">
        {{ _("Registered extensions") }}
      </h1>
      <p class="lead text-center">
        {{ _('Documention for the %(num)d extensions in the <a href="https://github.com/open-contracting/extension_registry">extension registry</a>.', num=extensions|count) }}
      </p>
    </div>
  </div>

  {% for extension in extensions %}
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-xl-6 mb-2">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title h5">
              <a href="{{ url_for('extension', lang=lang, slug=extension.id, version=extension.latest_version) }}">
                {{ extension.name[lang] }}
              </a>
    {% if extension.core %}
              <span class="badge badge-pill badge-light">{{ _("Recommended") }}</span>
    {% endif %}
            </h2>
            <p class="card-text">
              {{ extension.description[lang] }}
            </p>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
