{% extends 'layout_extension.html' %}

{% block title %}{{ _("%(name)s — Schema — OCDS Extension Explorer", name=extension.name[lang]) }}{% endblock %}

{% block nav_schema %}
        <div class="ee-toc-item active">
          <a class="ee-toc-link" href="{{ url_for('extension_schema', identifier=identifier, version=version, lang=lang) }}">
            {{ _("Schema") }}
          </a>

          <ul class="nav ee-sidenav">
  {% for definition in tables %}
            <li>
              <a href="#{{ definition|lower }}">
                {{ definition }}
              </a>
            </li>
  {% endfor %}
          </ul>
        </div>
{% endblock %}

{% block extension_body %}
      <h2 class="ee-title">
        {{ _("Schema") }}
      </h2>
  {% for definition, rows in tables.items() %}

      <h3 id="{{ definition|lower }}">
        {{ definition }}
      </h3>

      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col">
              {{ _("Field") }}
            </th>
            <th scope="col">
              {{ _("Title") }}
            </th>
            <th scope="col">
              {{ _("Description") }}
            </th>
            <th scope="col">
              {{ _("Type(s)") }}
            </th>
          </tr>
        </thead>
        <tbody>
    {% for row in rows %}
          <tr>
            <td>
              <code>
                {{ row[0] }}
              </code>
            </td>
            <td>
              {{ row[1] }}
            </td>
            <td>
              {{ row[2]|safe }}
            </td>
            <td>
              {{ row[3]|join(' or ')|safe }}
            </td>
          </tr>
    {% endfor %}
        </tbody>
      </table>
  {% endfor %}
{% endblock %}
