{% extends 'base.html' %}

{% if extension.core %} 
  {% block core_nav_link %}active{% endblock %}
{% else %} 
  {% block comminity_nav_link %}active{% endblock %}
{% endif %} 


{% block main %}
  <div class="row mt-2">

    <div class="col-12 col-md-3 col-xl-2 mt-2">
      <h1> {{ extension['name'][lang] }} </h1>
    </div>
    <div class="col-12 col-md-6 col-xl-6 mt-2">
      <p> {{ extension['description'][lang] }} </p>
    </div>
    <div class="col-12 col-md-3 col-xl-2 mt-2">
      {# 
      <select id="select" class="float-right">
        <option value="">Version 1.1.3 (latest)</option>
        <option value="">Version 1.1.0</option>
      </select>
      #}
    </div>
  </div>

  <div class="row flex-xl-nowrap mt-2 no-gutters">

    <div class="col-12 col-md-3 col-xl-2">
      <ul class="nav nav-pills card-header-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Docs</a>
          {#
          <ul class="nav flex-column ml-3">
              <a class="nav-link pt-0 pb-0" href="#relatedlot"><small> Related Lot </small></a>
              <a class="nav-link pt-0 pb-0" href="#workedexample"><small> Worked Example </small></a>
          </ul>
          #}
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Extension Info</a>
          {#
            <ul class="nav flex-column ml-3">
              <a class="nav-link pt-0 pb-0" href="#workedexample"><small> Usage </small></a>
              <a class="nav-link pt-0 pb-0" href="#relatedlot"><small> Compatability </small></a>
              <a class="nav-link pt-0 pb-0" href="#workedexample"><small> External Docs </small></a>
              <a class="nav-link pt-0 pb-0" href="#workedexample"><small> Dependancies </small></a>
              <a class="nav-link pt-0 pb-0" href="#workedexample"><small> Related Extenions </small></a>
            </ul>
          #}
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Schema Referance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Codelists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Examples</a>
        </li>
      </ul>
    </div>

    <div class="col-12 col-md-9 col-xl-8">
      <div class="card">

        <div class="card-body">

          <pre> {{ extension_version.readme[lang]["content"] }} </pre>

        </div>
      </div>
    </div>
  </div>
{% endblock main %}
