{% extends 'base.html' %}

{% block core_nav_link %} {% if extension.core %} active {% endif %}{% endblock %}
{% block community_nav_link %} {% if not extension.core %} active {% endif %}{% endblock %}


{% block main %}
  <div class="row mt-2">

    <div class="col-12 col-md-3 col-xl-2 mt-2">
      <h1> {{ extension['name'][lang] }} </h1>
    </div>
    <div class="col-12 col-md-6 col-xl-6 mt-2">
      <p> {{ extension['description'][lang] }} </p>
    </div>
    <div class="col-12 col-md-3 col-xl-2 mt-2">
      {# 
      <select id="select" class="float-right">
        <option value="">Version 1.1.3 (latest)</option>
        <option value="">Version 1.1.0</option>
      </select>
      #}
    </div>
  </div>

  <div class="row flex-xl-nowrap mt-2 no-gutters">

    <div class="col-12 col-md-3 col-xl-2">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          {% block nav_docs%}
            <a class="nav-link" href="{{url_for('extension', slug=slug, version=version, lang=lang)}}">Docs</a>
          {% endblock nav_docs%}
          {#
          <ul class="nav flex-column ml-3">
              <a class="nav-link pt-0 pb-0" href="#relatedlot"><small> Related Lot </small></a>
              <a class="nav-link pt-0 pb-0" href="#workedexample"><small> Worked Example </small></a>
          </ul>
          #}
        </li>
        <li class="nav-item">
          {% block nav_extension_info %}
            <a class="nav-link" href="{{url_for('extension_info', slug=slug, version=version, lang=lang)}}">Extension Info</a>
          {% endblock nav_extension_info %}
          {#
            <ul class="nav flex-column ml-3">
              <a class="nav-link pt-0 pb-0" href="#workedexample"><small> Usage </small></a>
              <a class="nav-link pt-0 pb-0" href="#relatedlot"><small> Compatability </small></a>
              <a class="nav-link pt-0 pb-0" href="#workedexample"><small> External Docs </small></a>
              <a class="nav-link pt-0 pb-0" href="#workedexample"><small> Dependancies </small></a>
              <a class="nav-link pt-0 pb-0" href="#workedexample"><small> Related Extenions </small></a>
            </ul>
          #}
        </li>
        <li class="nav-item">
          {% block nav_schema %}
            <a class="nav-link" href="{{url_for('extension_reference', slug=slug, version=version, lang=lang)}}">Schema Reference</a>
          {% endblock nav_schema %}
        </li>
        <li class="nav-item">
          {% block nav_codelists %}
            <a class="nav-link" href="{{url_for('extension_codelists', slug=slug, version=version, lang=lang)}}">Codelists</a>
          {% endblock nav_codelists %}
        </li>
      </ul>
    </div>

    <div class="col-12 col-md-9 col-xl-8">
      <div class="card">

        <div class="card-body">
          {% block extension_body %}
          {% endblock extension_body %}
        </div>
      </div>
    </div>
  </div>
{% endblock main %}
