{% extends 'layout_extension.html' %}

{% block nav_extension_info %}
  <a class="nav-link active" href="{{ url_for('extension_info', slug=slug, version=version, lang=lang) }}">Extension Info</a>
{% endblock nav_extension_info %}

{% block extension_body %}

<dl class="row">
  <dt class="col-sm-3">Download URL</dt>
  <dd class="col-sm-9"><a href="{{ extension_version.download_url }}">{{ extension_version.download_url }}</a></dd>

  <dt class="col-sm-3">Base URL</dt>
  <dd class="col-sm-9">{{ extension_version.base_url }}</dd>

  <dt class="col-sm-3">Compatibility</dt>
  <dd class="col-sm-9">
    {% if '1.1' in extension_version.metadata.compatibility %}Standard Version 1.1{% endif %}
  </dd>

  <dt class="col-sm-3">Core</dt>
  <dd class="col-sm-9">{{ extension.core }}</dd>

  <dt class="col-sm-3">Category</dt>
  <dd class="col-sm-9">{{ extension.category }}</dd>

</dl>

{% endblock extension_body %}
