{% extends 'layout_extension.html' %}

{% block title %}{{ _("%(name)s — Documentation — OCDS Extension Explorer", name=extension.name[lang]) }}{% endblock %}

{% block style %}
  <style>
{{ highlight_css|safe }}
  </style>
{% endblock %}

{% block nav_documentation %}
        <div class="ee-toc-item active">
          <a class="ee-toc-link" href="{{ url_for('extension_documentation', lang=lang, identifier=identifier, version=version) }}">
            {{ _("Documentation") }}
          </a>

          <ul class="nav ee-sidenav">
  {% for heading in headings %}
            <li class="ms-{% if heading.level <= 2 %}0{% else %}{{ [heading.level - 1, 4]|min }}{% endif %}">
              <a href="#{{ heading.id }}">
                {{ heading.text }}
              </a>
            </li>
  {% endfor %}
          </ul>
        </div>
{% endblock %}

{% block extension_body %}
      <h2 class="ee-title">
        {{ _("Documentation") }}
      </h2>
{{ readme_html|safe }}
{% endblock %}
