{% extends 'layout.html' %}

{% block extensions_nav_link %}active{% endblock %}


{% block main %}
  <div class="row mt-2">

    <div class="col-12 col-md-3 col-xl-2 mt-2">
      <h1> {{ extension.name[lang] }} </h1>
    </div>
    <div class="col-12 col-md-6 col-xl-6 mt-2">
      <p> {{ extension.description[lang] }} </p>
    </div>
    <div class="col-12 col-md-3 col-xl-2 mt-2">
      <select id="version-select" class="float-right">
        {% for dropdown_version in extension.versions %}
          <option value="{{ url_for(request.endpoint, slug=slug, version=dropdown_version, lang=lang) }}" {% if dropdown_version == version %}selected{% endif %}>{{ dropdown_version }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="row flex-xl-nowrap mt-2 no-gutters">

    <div class="col-12 col-md-3 col-xl-2">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          {% block nav_docs%}
            <a class="nav-link" href="{{ url_for('extension', slug=slug, version=version, lang=lang) }}">Docs</a>
          {% endblock nav_docs%}
        </li>
        <li class="nav-item">
          {% block nav_extension_info %}
            <a class="nav-link" href="{{ url_for('extension_info', slug=slug, version=version, lang=lang) }}">Extension Info</a>
          {% endblock nav_extension_info %}
        </li>
        <li class="nav-item">
          {% block nav_schema %}
            <a class="nav-link" href="{{ url_for('extension_schema', slug=slug, version=version, lang=lang) }}">Schema Reference</a>
          {% endblock nav_schema %}
        </li>
        <li class="nav-item">
          {% block nav_codelists %}
          {% if extension_version.codelists %}
            <a class="nav-link" 
               href="{{ url_for('extension_codelists', slug=slug, version=version, lang=lang) }}">
              Codelists
            </a>
          {% endif %}
          {% endblock nav_codelists %}
        </li>
      </ul>
    </div>

    <div class="col-12 col-md-9 col-xl-8">
      <div class="card">

        <div class="card-body">
          {% block extension_body %}
          {% endblock extension_body %}
        </div>
      </div>
    </div>
  </div>
{% endblock main %}

{% block extra_js %}
<script>
  
jQuery('#version-select').change(function() {
  window.location.href = $(this).val() 
});

</script>
{% endblock extra_js %}
