{% extends 'layout.html' %}

{% block extra_head %}
  {% if default_master %}
  <link rel="canonical" value="{{ url_for(request.endpoint, lang=lang, identifier=identifier, version=extension.latest_version) }}">
  {% endif %}
{% block style %}
{% endblock %}
{% endblock %}

{% block extensions_nav_link %}active{% endblock %}

{% block main %}
<div class="container-fluid">
  <div class="row bg-light pt-2">
    <div class="col">
      <h1>
        {{ extension.name[lang] }}
      </h1>

      <p class="lead">
        {{ extension.description[lang] }}
      </p>
    </div>
  </div>

  <div class="row flex-xl-nowrap">
    <div class="col-12 col-md-3 col-xl-3 ee-sidebar">
      <form class="d-flex align-items-center ee-search">
        <label class="me-1 mb-0" for="version">{{ _("Version:") }}</label>
        <select class="form-select form-select-sm algolia-autocomplete" id="version">
          <optgroup label="{{ _('Present versions') }}">
  {% for other_version, date in present_versions %}
            <option value="{{ url_for(request.endpoint, lang=lang, identifier=identifier, version=other_version) }}"{% if other_version == version %} selected{% endif %}>
              {{ other_version }}
    {% if date %}
              ({{ date }})
    {% endif %}
            </option>
  {% endfor %}
          </optgroup>
  {% if historical_versions %}
          <optgroup label="{{ _('Historical versions') }}">
    {% for other_version, date in historical_versions %}
            <option value="{{ url_for(request.endpoint, lang=lang, identifier=identifier, version=other_version) }}"{% if other_version == version %} selected{% endif %}>
              {{ other_version }}
    {% if date %}
              ({{ date }})
    {% endif %}
            </option>
    {% endfor %}
  {% endif %}
          </optgroup>
        </select>

        <button class="btn btn-link ee-search-docs-toggle d-md-none p-0 ms-3" type="button" data-bs-toggle="collapse" data-bs-target="#extension-nav" aria-controls="extension-nav" aria-expanded="false" aria-label="{{ _('Toggle extension navigation') }}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false" role="img"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path></svg></button>
      </form>

      <nav class="collapse ee-links" id="extension-nav">
  {% block nav_documentation %}
        <div class="ee-toc-item">
          <a class="ee-toc-link" href="{{ url_for('extension_documentation', lang=lang, identifier=identifier, version=version) }}">
            {{ _("Documentation") }}
          </a>
        </div>
  {% endblock %}
  {% if extension_version.schemas['release-schema.json'][lang] %}
    {% block nav_schema %}
        <div class="ee-toc-item">
          <a class="ee-toc-link" href="{{ url_for('extension_schema', lang=lang, identifier=identifier, version=version) }}">
            {{ _("Schema") }}
          </a>
        </div>
    {% endblock %}
  {% endif %}
  {% if extension_version.codelists %}
    {% block nav_codelists %}
        <div class="ee-toc-item">
          <a class="ee-toc-link" href="{{ url_for('extension_codelists', lang=lang, identifier=identifier, version=version) }}">
            {{ _("Codelists") }}
          </a>
        </div>
    {% endblock %}
  {% endif %}
      </nav>

      <div class="d-none d-md-block ee-download">
        <p>
          {{ _("To use this extension, add this URL to your package's <code>extensions</code> array:") }}
        </p>

        <div class="input-group mb-3">
          <input class="form-control" type="text" id="base-url" value="{{ extension_version.base_url }}extension.json" aria-label="{{ _('Extension URL') }}" readonly>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary clipboard" type="button" id="copy" data-clipboard-target="#base-url" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ _('Copy to clipboard') }}" data-updated-title="{{ _('Copied!') }}">
              <i aria-hidden="true" class="fas fa-copy"></i>
              <span class="sr-only">
                {{ _("Copy to clipboard") }}
              </span>
            </button>
          </div>
        </div>

        <p>
          <a class="btn btn-outline-primary" href="{{ extension_version.download_url }}" role="button">
            {{ _("Download ZIP") }}
          </a>
        </p>

        <p class="text-muted">
          {{ _('Maintained by <a href="%(url)s">%(name)s</a>', name=extension_version.publisher.name, url=extension_version.publisher.url) }}
        </p>
      </div>
    </div>

    <main class="col-12 col-md-9 col-xl-9 py-md-3 ps-md-5 ee-content" role="main">
      <div class="table-responsive">
  {% block extension_body %}
  {% endblock %}
      </div>
    </main>
  </div>
</div>
{% endblock %}

{% block extra_footer %}
<script src="{{ url_for('static', filename='lib/clipboard.min.js') }}"></script>
{% endblock %}
