name: Lint
on: [push, pull_request]
jobs:
  lint:
    uses: open-contracting/.github/.github/workflows/lint.yml@main
    permissions:
      contents: write
    secrets:
      personal-access-token: ${{ secrets.PAT }}
    with:
      # ocdsextensionregistry is run as a command in a workflow.
      standard-maintenance-scripts-ignore: ocdsextensionregistry
      # Defer indentation to biome format.
      ocds-noindent: 'yes'
